.menu-izq-tipo {
    position: absolute;
    top: 35px;
    left: 153px;
    width: 300px;
    height: 20px;
    font-size: 18px;/
}

.search {
    position: absolute;
    top: 40px;
    left: 111px;
    width: 20px;
}