/* .section {
    padding-top: 80px;
    height: 100vh;
} */

.contC {
    background-color: #242424;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    overflow-y: auto;
    padding: 100px;
    height: 100vh;
}

/* .simplebar-scrollbar {
    width: 4px !important;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.simplebar-track.simplebar-vertical {
    width: 4px !important;
    border-radius: 4px;
    background-color: #99999921;
}

.simplebar-scrollbar:hover:before {

    cursor: pointer;
} */

.contC-b {
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contC-i {
    width: 180px;
    height: 210px;
    margin: 0;

}


.contC-h1 {
    font-size: 20px;
    color: white;
}