.nav-menu {
    position: fixed;
    bottom: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
}


.nav-menu li {
    display: inline;
    margin: 80px;

}

.nav-menu a {
    font-size: 30px;
    color: white;
}

.div-menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.conjunto {
    position: fixed;
    width: 100vw;
    display: flex;
}

.buscador {
    width: 50%;
}