.body {
    background-image: url(./public/image1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.letra {
    display: flex;
    align-items: center;
    font-size: 150px;
    flex-wrap: wrap;
    width: 55%;
    justify-content: center;
}