body {
    background-color: #242424;
}

.contenedor {
    margin-left: 90px;
    display: flex;
    width: 1200px;
    display: flex;
    width: 1200px;
    margin-left: 90px;

}

.section {
    padding-top: 80px;
    height: 100vh;
}

/* imagen */
.t-max {
    height: 250px;
    width: 200px;
    object-fit: cover;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.card:hover figcaption {
    display: block;
    margin: 0;
    cursor: pointer;
}

figcaption {
    display: none;
    position: absolute;
    top: 171px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.64);
}

figcaption p {
    color: white;
}

.simplebar-scrollbar {
    width: 4px !important;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.simplebar-track.simplebar-vertical {
    width: 4px !important;
    border-radius: 4px;
    background-color: #99999921;
}

.simplebar-scrollbar:hover:before {

    cursor: pointer;
}

.contenedor-img {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image-info {
    height: 250px;
}

.titles {
    display: flex;
    justify-content: space-evenly;
}

.titles h3 {
    font-size: 35px;
    text-align: center;
}

.titles li {
    text-align: center;
    list-style: none;
}

.titles ul {
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
}

.contenedor-name {
    display: flex;
}

.contenedor-info {
    padding: 0 30px;
    color: white;
    display: flex;
    flex-direction: column;
}