.nav-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}


.nav-menu li {
    display: inline;
    margin: 100px;

}

.nav-menu a {
    font-size: 40px;
}