body {
    background-color: #242424;
}

.container {
    display: flex;
    width: 1200px;


}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

.card-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.card-o {
    display: flex;
    flex-direction: column;
}

img {
    width: 200%;
}