.menu {
    background-color: transparent;
    display: flex;
    height: 30px;
    position: absolute;
    justify-content: flex-end;
    margin-top: 20px;
}

.menu-der {
    display: flex;
    gap: 30px;
    margin-right: 60px;
    list-style: none;
}

.img {
    height: 40px;
    width: 40px;
}

.button {
    border: none;

}