.menu-der {
    background-color: transparent;
    display: flex;
    position: absolute;
    left: 1000px;
    justify-content: flex-end;
    margin-top: 20px;
    display: flex;
    gap: 30px;
    margin-right: 60px;
    list-style: none;
}

.img {
    height: 40px;
    width: 40px;
}

.button {
    border: none;

}

.icon-home {
    top: 20px;
    left: 935px;
    position: absolute;
}